
#swimmersList {
    background-color: antiquewhite;
}

.headers1 {
    position: relative;
    left: 43%;
    font-size: 20px;
    font-weight: 600;
}

#heats {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%,0);
    width: 800px;
    padding: 50px;
    border: 1px solid black;
}

.eventsHeader2 {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    font-size: 19px;
}

.heatNumber{
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-size: 19px;
    margin-bottom: 15px;
}

#menu {
   position: absolute;
   left: 50%;
   top: 10px;
   transform: translate(-50%,0);
}

#showHeatsButton {
    position: absolute;
    left: 50%;
    top: 42px;
    transform: translate(-50%,0);
}

#compName {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 23px;
}

#startList {
    position: absolute;
    top: 18%;
    left: 50%; 
    transform: translate(-50%,0);
    width: 900px;
    padding: 40px;
    border: 1px solid black;
}

.heatHeaders1 {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-size: 21px;
}

.eventsHeader21 {
margin: 0 auto;
width: 200px;
text-align: center;
font-weight: 600;
font-size: 18px;
}

#programDiv {
    position: absolute;
    top: 150px;
    left: 55%;
    width: 600px;
    transform: translate(-50%,0);
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.swimmersData {
    display: grid;
    grid-template-columns: 2% 24% 12% 9% 19% 20% 14%;
}

.swimmersData2Header {
    display: grid;
    grid-template-columns: 14% 26% 20% 18% 22%;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}
.swimmersData2 {
    display: grid;
    grid-template-columns: 1% 11% 28% 20% 20% 17%;
}

.hide {
    display: none;
}

button {
    background-color: rgb(218, 217, 224);
    padding: 2px 8px;
    border-radius: 5px;
}

button:hover {
    background-color: antiquewhite;
}
